<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="header">
            <h1>Currency calculator</h1>
        </div>

        <div class="form">
            <h1>Select the currency</h1>
            
            <form method="post" action="/">
              <label for="code">Choose a currency:</label>
              <select name="code" id="code">
                {% for code in codes %}
                <option> {{ code }}</option>
                {% endfor %}
              </select>
              <br><br>
          </div>

          <div class="sum">    
            <label for="sum">Input a necessary sum of currency:</label>
            <label for="sum"> </label>
            <input type="text" id="sum" name="sum">
             <br><br>
           </div>  

           <div class="submit">  
              </select>
              <input type="submit" value="CALCULATE">
              <p>Calculating Result : {{ result }} pln</p>
          </div>
        </form>

</body>
</html>